/*PIMG.css*/
      @font-face {
          font-family: Orator;
          src: url(fonts/oratorStd.otf);
      }

      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
      
      body{
        font-family: helvetica;
        }  

      li{
       	color: white;
       	border: 2px solid white;
       	margin: 1em;
       	padding: .5em;
       	text-align: left;
		text-shadow: 1px 1px #000;
		box-shadow: 1px 1px #000;
		
       }

       a{
       	font-size: 1.3em;
       	letter-spacing: 3px;
       	color: white;
       	text-decoration: none;
       	text-shadow: 1px 1px #000;
       }
       a:hover{
       	font-size: 1.3em;
       	color: yellow;
		
       }
	   a.main{
       	font-size: 1.2em;
		font-weight: 600;
       	letter-spacing: 2.5px;
       	color: white;
       	text-decoration: none;
       	text-shadow: 1px 1px #000;
		display: inline;
       }
	   a.main:hover{
       	font-size: 1.2em;
       	color: yellow;
		
       }
	   a.menu{
       	font-size: 1em;
       	color: black;
       	text-decoration: none;
		display: inline;
		letter-spacing: 0.05em;
		text-shadow: none;
       }
	   a.menu:hover{
       	font-size: 1em;
       	color: yellow;
		letter-spacing: 0.05em;
       }
	   
	   #social{
		   width: 25px;
		   height: 25px;
		   text-decoration: none;
		   position:absolute;
		   margin-top:0px;
		   margin-right:-100px;
	   }
      .main{
        display: flex;
        height: 100%;
        }
      
      .sidebar{
		float: left;
        position: absolute;
        max-width: 100%;
        max-height: 600px;
        overflow-x: hidden;
		font-family: Orator;
		width: 100%;
        z-index: 2;

        }
      .sidebar__wrap{
        width: 100%;
		height: 75px;
        position: relative;
        /*overflow-y: auto;
        padding: 3%;
        /*border: 2px solid white;
        background: #ff00ff;
        opacity: 0.5;*/
        left: 1%;
        }
    .sidebar__wrap__inner{
		padding-top: 7px;
       } 
       .top-menu{
       	font-size: 1em;
       	color: white;
       	font-weight: 100;
       	letter-spacing: 0.03em;
       	text-align: center;
       	z-index: 1.5;
		vertical-align: top;
		margin: auto;
	
       }
	   .PIMG-title{
       	font-size: 120%;
		left: 1%;
		margin: auto;
        
       }
       .menu__list{
       	margin: .5%;
       } 
       .page-title{
       	font-size: 1em;
       	color: white;
       	font-weight: 100;
       	letter-spacing: 0.02em;
       	text-align: center;
       	z-index: 1.5;
       }
       .subnav{
       	margin: .1em;
       	list-style-type: none;
       }

/*WORK PAGE*/
		.section__container{
			position:absolute;
			max-width: 70%;
			max-height: 90%;
			z-index: 2;
			top:20%;
			left: 1.5%;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.nav__container{
			
		}
		.top-nav{
			display: inline;
			font-family: Orator;
          	src: url(fonts/oratorStd.otf);
			text-decoration: none;
			border: none;
			color: black;
			font-size: 1em;
			letter-spacing: 0.25em;
			text-shadow: none;
			
			
		}
		.nav-list{
			display: inline;
			font-family: Orator;
          	src: url(fonts/oratorStd.otf);
			text-decoration: none;
			border: none;
			box-shadow: none;
			color: black;
			font-size: .85em;
			padding-top: 30px;
			padding-left: -7px;
		}
			
